h1 {
    font-family: 'Lato', sans-serif;
    font-size: 25.6px;
    text-transform: uppercase;
    text-align: center;
    color: #525252;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 19.2px;
    text-transform: uppercase;
    color: #525252;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 12.8px;
    text-transform: uppercase;
    color: #525252;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-transform: none;
    color: #525252;
}

figcaption {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-transform: none;
    color: #525252;
}

a {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #5c5c5c;
}

a:hover {
    color: black;
}

<<<<<<< HEAD > > > > > > > origin/master=======img {
    width: 100%;
}

#splash {
    width: 100vw;
    height: 100vh;
    max-width: none;
    background-image: url(showcase_image/splash_ny.png);
    background-size: cover;
    background-position: 25% 0%;
}

#showcase .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
}

#cols {
    display: flex;
    flex-wrap: wrap;
}

.colaward {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    flex-basis: 200px;
    width: 30vw;
}

#showcase .col {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    flex-basis: 500px;
    width: 40vw;
}

#gazelle {
    background-image: url(showcase_image/gazelle.png);
    background-size: 100%;
    width: 25vw;
    height: 14vw;
    left: 29vw;
    top: 20vw;
    margin: 10px;
}

#beauty {
    background-image: url(showcase_image/beaty.png);
    background-size: 100%;
    width: 25vw;
    height: 14vw;
    left: 29vw;
    top: 20vw;
    margin: 10px;
}

#show {
    background-image: url(showcase_image/zarko.png);
    background-size: 100%;
    width: 25vw;
    height: 14vw;
    left: 70vw;
    top: 20vw;
    margin: 10px;
}

#col1 {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 2;
    flex-basis: 300px;
    flex-direction: column;
}

header nav a:link {
    color: #ce9865;
}

/* visited link */
header nav a:visited {
    color: #ffffff;
}

/* mouse over link */
header nav a:hover {
    color: #070505;
}

/* selected link */
header nav a:active {
    color: #d09864;
}

header {
    position: fixed;
    width: 100%;
}

header nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 1rem 1.5rem;
}

header nav a {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    margin: 0.1rem 0;
    padding: 0.1rem 0;
    text-decoration: none;
}

header nav {
    flex-direction: row;
    justify-content: center;
    margin-top: 17rem;
}

header nav a {
    font-size: 1.1rem;
    margin: 0 0.2rem;
    padding: 0 1rem 0 0;
    border-right: 0.1rem solid white;
}

header nav a:last-child {
    border-right: none;
    padding: 0;
}

#facebook {
    background-image: url(showcase_image/facebook-logo.png);
    background-size: 100%;
    width: 5vw;
    height: 5vw;
    left: 29vw;
    top: 20vw;
    margin: 10px;
}

#insta {
    background-image: url(showcase_image/insta.png);
    background-size: 100%;
    width: 5vw;
    height: 5vw;
    left: 10vw;
    top: 20vw;
    margin: 10px;
}

#work {
    background-image: url(showcase_image/work.jpg);
    background-size: 100%;
    width: 25vw;
    height: 14vw;
    left: 10vw;
    top: 20vw;
    margin: 10px;
}

#showcase .bottom {
    display: flex;
    flex-wrap: wrap;
}

#showcase .top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

#image_footer {
    flex-direction: row;
}

#facebook a:hover {
    color: #c66385;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

.image_hidden {
    visibility: hidden;
}

#bluecloud_container {
    position: absolute;
    top: 24.5vw;
    left: 40vw;
    z-index: 2;
}

#bluecloud_sprite {
    background-size: 100%;
    width: 12vw;
    height: 20vw;
    background-image: url(showcase_image/zarkoperfume-cloud-2-edp-unisex-100-ml-1.jpg);
}

#parfume {
    position: absolute;
    width: 25vw;
    height: 22vw;
    top: 32vw;
    left: 42vw;
    background-image: url(showcase_image/molecule.png);
    z-index: 2;
}


.move {
    animation-name: move_kf;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

@keyframes move_kf {
    0% {
        left: 32vw;
    }

    100% {
        left: 43vw;
    }
}


> > > > > > > origin/master #products .sectionwrapper {
    display: flex;
    flex-wrap: wrap;

}

#products .col {
    flex-grow: 1;
    flex-basis: 300px;
    display: flex;
    flex-direction: column;

}
