html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 56.25vw;
    position: absolute;
}

#screen {
    width: 100vw;
    height: 56.25vw;
    position: absolute;
}

img {
    100%;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 25.6px;
    text-transform: uppercase;
    text-align: center;
    color: #525252;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 19.2px;
    text-transform: uppercase;
    color: #525252;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 12.8px;
    text-transform: uppercase;
    color: #525252;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-transform: none;
    color: #525252;
}

li {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-transform: none;
    color: #525252;
}

a {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #5c5c5c;
}



a:hover {
    color: black;
}

.hidden {
    /*    display: none;*/
    /*    transform: scale(0);*/
    transform: translateX(-100%);
    opacity: 0;

}

.hidden_menu {
    visibility: hidden;
}

hidden {
    visibility: hidden;
}


#menuknap {
    display: inline-block;
    cursor: pointer;
    font-size: 2rem;
}

#menu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top left;
}

@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }


    #menu li {
        display: inline-block;
    }
}

#side_menu header {
    /*position: absolute;*/
    top: 35px;
    left: 300px;
}

/* visited link */
#side_menu header nav a:visited {
    color: #ce9865;
}

/* mouse over link */
#side_menu header nav a:hover {
    color: #070505;
}

/* selected link */
#side_menu header nav a:active {
    color: #d09864;
}

#side_menu header {
    /*position: absolute;*/
}

#side_menu header nav {
    display: flex;
    align-items: flex-end;
    margin: 1rem 1.5rem;
    justify-content: center;
}

#side_menu header nav a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 1.1rem;
    margin: 0 0.2rem;
    padding: 0 1rem 0 0;
    border-right: 1px solid black;
}

#side_menu header nav a:last-child {
    border-right: none;
    padding: 0;
}


#side_menu #menuknap {
    position: absolute;
    left: 75vw;
    top: 0vw;
}

#about {
    margin: 0vw 12vw;
    background-position: 50% 0%;
}


#about #story_wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#about #text {
    flex-grow: 2;
    flex-basis: 200px;
    padding: 2vw;
    text-align: center;
    line-height: 26px;
}

#about #picture {
    flex-grow: 1;
    flex-basis: 200px;
    padding: 8vw 2vw 2vw 4vw;

}

#about #portrait {
    background-image: url(about_img/Zarko_portrait3.png);
    background-size: 100%;
    height: 510px;
    width: 340px;
    border-radius: 1%;
}

#about #video_container {
    text-align: center;
}

#about #zarkovideo {
    outline: none;
    width: 800px;
    height: 450px;
    margin: 3vw 0vw 0vw 0vw;
}

#about #signature {
    text-align: center;
}



#showcase img {
    width: 100%;
}

#showcase .col1 {
    margin: 3px;
}

#showcase img {
    width: 100%;
}


#splash {
    width: 100vw;
    height: 100vh;
    max-width: none;
    background-image: url(showcase_image/splash_ny.png);
    background-size: cover;
    background-position: 50% 0%;
}

#box {
    height: 30vw;
    width: 30vw;
    background-color: rgba(255, 255, 255, 0.25);
    justify-content: center;
    top: 23vw;
    left: 34.5vw;
    position: relative;
    z-index: 3;
    border: solid #ba8548 2px;
    overflow: hidden;

}


#showcase .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
}

.colaward {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    flex-basis: 200px;
    width: 30vw;
}

#showcase .col {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    flex-basis: 500px;
    width: 40vw;
}

#gazelle {
    background-image: url(showcase_image/gazelle.png);
    background-size: 100%;
    width: 25vw;
    height: 14vw;
    left: 29vw;
    top: 20vw;
    margin: 10px;
}

#beauty {
    background-image: url(showcase_image/beaty.png);
    background-size: 100%;
    width: 25vw;
    height: 14vw;
    left: 29vw;
    top: 20vw;
    margin: 10px;
}

#show {
    background-image: url(showcase_image/zarko.png);
    background-size: 100%;
    width: 25vw;
    height: 14vw;
    left: 70vw;
}


#showcase .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
}

#cols {
    display: flex;
    flex-wrap: wrap;
}

.colaward {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    flex-basis: 200px;
    width: 30vw;
}

#showcase .col {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    flex-basis: 500px;
    width: 40vw;
}

#gazelle {
    background-image: url(showcase_image/gazelle.png);
    background-size: 100%;
    width: 25vw;
    height: 14vw;
    left: 29vw;
    top: 20vw;
    margin: 10px;
}

#beauty {
    background-image: url(showcase_image/beaty.png);
    background-size: 100%;
    width: 25vw;
    height: 14vw;
    left: 29vw;
    top: 20vw;
    margin: 10px;
}

#show {
    background-image: url(showcase_image/zarko.png);
    background-size: 100%;
    width: 25vw;
    height: 14vw;
    left: 70vw;
    top: 20vw;
    margin: 10px;
}

#col1 {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 2;
    flex-basis: 300px;
    flex-direction: column;
}


#col1 {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 2;
    flex-basis: 300px;
    flex-direction: column;
}

header nav a:link {
    color: #ce9865;
}

/* visited link */
#splash_menu header nav a:visited {
    color: #ce9865;
}

/* mouse over link */
#splash_menu header nav a:hover {
    color: #070505;
}

/* selected link */
#splash_menu header nav a:active {
    color: #d09864;
}

#splash_menu header {
    position: absolute;
    width: 100%;
}

#splash_menu header nav {
    display: flex;
    align-items: flex-end;
    /*margin: 1rem 1.5rem;*/
    justify-content: center;
    flex-direction: row;
    margin-top: 14rem;
}

#splash_menu header nav a {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    margin: 0 0.2rem;
    padding: 0 1rem 0 0;
    border-right: 0.1rem solid white;
    text-decoration: none;
}

#splash_menu header nav a:last-child {
    border-right: none;
    padding: 0;
}

#splash_menu #menuknap {
    position: absolute;
    left: 75vw;
    top: 0vw;
}

#showcase .bottom {
    display: flex;
    flex-wrap: wrap;
}

#showcase .top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}


.bottom_footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e2d5c7;
    color: white;
}

.contact_footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e2d5c7;
    color: white;
}

.contact_footer p {
    text-align: center;
}

.contact_image_facebook {
    position: relative;
    background-size: 100%;
    left: 45vw;
    top: 1vw;
}

.contact_image_insta {
    position: relative;
    background-size: 100%;
    left: 50vw;
    top: -4.3vw;
}

#contact_social {
    display: flex;
    justify-content: center;
}

#image_facebook {
    position: relative;
    background-size: 100%;
    left: 45vw;
    top: 1vw;
    top: 6vw;
    margin: 0;
    top: 1vw;
}

#image_insta {
    position: relative;
    background-size: 100%;
    left: 50vw;
    top: -3.8vw;
    top: 0.7vw;
    margin: 0;
    top: -3.8vw;
}

.bottom_footer p {
    text-align: center;
    margin: 0;
}

.image_hidden {
    visibility: hidden;
}

#contact {
    margin: 0vw 12vw;
}

#contact .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#contact #text1 {
    flex-grow: 2;
    flex-basis: 200px;
    padding: 2vw;
    text-align: center;
}

#contact #text2 {
    flex-grow: 2;
    flex-basis: 200px;
    padding: 2vw;
    text-align: center;
}

#contact #text3 {
    flex-grow: 2;
    flex-basis: 200px;
    padding: 2vw;
    text-align: center;
}

.contact_a {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-transform: lowercase;
    color: #5c5c5c;
}

.dropbtn {
    border-radius: 10px;
    background-color: rgb(255, 239, 224);
    color: #777777;
    padding: 10px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #e2d5c7;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    border-radius: 10px;
    display: none;
    position: absolute;
    background-color: rgb(255, 239, 224);
    min-width: 145px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 0px 3px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

#c1_text {
    z-index: 10;
    height: 0vw;
    background-color: white;
    pointer-events: none;
    text-align: center;
}

/*#c2_text {
    z-index: 10;
    height: 0vw;
    background-color: white;
    pointer-events: none;
    text-align: center;
}

#c3_text {
    z-index: 10;
    height: 0vw;
    background-color: white;
    pointer-events: none;
    text-align: center;
}

#c4_text {
    z-index: 10;
    height: 0vw;
    background-color: white;
    pointer-events: none;
    text-align: center;
}

#c5_text {
    z-index: 10;
    height: 0vw;
    background-color: white;
    pointer-events: none;
    text-align: center;
}*/

#work {
    background-image: url(showcase_image/work.jpg);
    background-size: 100%;
    width: 25vw;
    height: 14vw;
    left: 10vw;
    top: 20vw;
    margin: 10px;
}

#showcase .bottom {
    display: flex;
    flex-wrap: wrap;
}

#showcase .top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.image_hidden {
    visibility: hidden;
}

#bluecloud_container {
    position: absolute;
    width: 24vw;
    height: 21vw;
    background-image: url(showcase_image/parfume2.png);
    z-index: 4;
    left: -25vw;
}

#parfume {
    position: absolute;
    width: 350px;
    height: 350px;
    background-image: url(showcase_image/molecule.png);
    background-size: 100%;
    z-index: 4;
    left: -25vw;
    top: 13vw;
    background-size: 100%;
}

#parfume1 {
    position: absolute;
    width: 24vw;
    height: 21vw;
    background-image: url(showcase_image/parfume3.png);
    z-index: 4;
    left: -25vw;
}


.move {
    animation-name: move_kf;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

@keyframes move_kf {
    0% {
        /*        left: -25vw;*/
        top: 7vw;
    }

    100% {
        left: 30vw;
        top: 7vw;
    }
}

#products .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;

}

#products .col {
    flex-grow: 1;
    flex-basis: 300px;
    display: flex;
    flex-direction: column;
}

#products img {
    max-height: 300px;
    max-width: 300px;

}

#products img {
    max-height: 250px;
    max-width: 250px;
    margin: 10px;
    padding: 15px;
    cursor: pointer;
}

#products img:hover {
    opacity: 0.6;
}

#products_menu header {
    position: relative;
    top: 6vw;
    left: 30vw;

}

#info_skaerm1 {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background-image: url(info_bokse/pink.svg);
    height: 30vw;
    width: 28vw;
    background-color: white;
    <<<<<<< HEAD pointer-events: none;
    top: 8vw;
}

#info_skaerm2 {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background-image: url(info_bokse/purple.svg);
    height: 30vw;
    width: 28vw;
    background-color: white;
    pointer-events: none;
    top: 35vw;
}

#info_skaerm3 {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background-image: url(info_bokse/buddha_wood.svg);
    height: 30vw;
    width: 28vw;
    background-color: white;
    pointer-events: none;
    top: 65vw;
}

#info_skaerm4 {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background-image: url(info_bokse/blue_cloud.svg);
    height: 30vw;
    width: 28vw;
    background-color: white;
    pointer-events: none;
    top: 95vw;
}

#info_skaerm5 {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background-image: url(info_bokse/cloud_red.svg);
    height: 30vw;
    width: 28vw;
    background-color: white;
    pointer-events: none;
    top: 8vw;
}

#info_skaerm6 {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background-image: url(info_bokse/el_discrete.svg);
    height: 30vw;
    width: 28vw;
    background-color: white;
    pointer-events: none;
    top: 35vw;
}

#info_skaerm7 {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background-image: url(info_bokse/inception.svg);
    height: 30vw;
    width: 28vw;
    background-color: white;
    pointer-events: none;
    top: 65vw;
}

#info_skaerm8 {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background-image: url(info_bokse/menage_a_trois.svg);
    height: 30vw;
    width: 28vw;
    background-color: white;
    pointer-events: none;
    top: 95vw;
}

#info_skaerm9 {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background-image: url(info_bokse/molecule_farewelll.svg);
    height: 30vw;
    width: 28vw;
    background-color: white;
    pointer-events: none;
    top: 8vw;
}

#info_skaerm10 {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background-image: url(info_bokse/molecule_love_affair.svg);
    height: 30vw;
    width: 28vw;
    background-color: white;
    pointer-events: none;
    top: 35vw;
}

#info_skaerm11 {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background-image: url(info_bokse/odd_couture.svg);
    height: 30vw;
    width: 28vw;
    background-color: white;
    pointer-events: none;
    top: 65vw;
}

#info_skaerm12 {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background-image: url(info_bokse/oudish.svg);
    height: 30vw;
    width: 28vw;
    background-color: white;
    pointer-events: none;
    top: 95vw;
    ======= > > > > > > > origin/master
}

#kryds1 {
    position: absolute;
    z-index: 2;
    background-image: url(info_bokse/luk_info.svg);
    height: 2vw;
    width: 2vw;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    #side_menu header {
        left: 250px;
    }
}

@media only screen and (max-width: 1100px) {
    #side_menu header {
        left: 200px;
    }
}

@media only screen and (max-width: 900px) {
    #side_menu header {
        left: 100px;
    }

    #side_menu header nav a {
        font-size: 0.9rem;
    }

    #about #zarkovideo {
        width: 600px;
        height: 340px;
        text-align: center;
    }
}


@media only screen and (max-width: 700px) {
    #side_menu header {
        left: 60px;
    }

    #side_menu header nav a {
        font-size: 0.9rem;
    }

    #splash_menu header nav {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 1rem 1.5rem;
    }

    #splash_menu header nav a {
        font-size: 1.2rem;
        font-family: 'Montserrat', sans-serif;
        margin: 0.1rem 0;
        padding: 0.1rem 0;
        text-decoration: none;
    }


    #about #text {
        padding:
            4vw;
    }

    #about #picture {
        padding: 1vw;
        position: relative;
        left: 15vw;
    }

    #about {
        margin: 1vw;
    }

    #about #zarkovideo {
        width: 440px;
        height: 250px;
        text-align: center;
    }

    #about #video_container {
        margin: 0;
    }

    #about p {
        font-size: 14px;
    }

    #showcase .sectionwrapper {
        display: flex;
        flex-wrap: wrap;
        margin-left: 30px;
        margin-right: 30px;
        padding: 0;
    }

    #showcase #conceptfilm {
        width: 440px;
        height: 250px;
        text-align: center;
    }

    #gazelle {
        width: 40vw;
        height: 21vw;
        margin: 10px;
    }

    #beauty {
        width: 40vw;
        height: 21vw;
        margin: 10px;
    }

    #show {
        width: 40vw;
        height: 23vw;
        margin: 10px;
    }

    #work {
        width: 40vw;
        height: 23vw;
        margin: 10px;
    }

    #box {
        height: 350px;
        width: 350px;
        background-color: rgba(255, 255, 255, 0.25);
        justify-content: center;
        top: 280px;
        left: 70px;
        position: relative;
        z-index: 3;
        border: solid #ba8548 2px;
        overflow: hidden;

    }

    #bluecloud_container {
        position: absolute;
        width: 300px;
        height: 300px;
        top: 40px;
        background-image: url(showcase_image/parfume2.png);
        z-index: 4;
        left: -60vw;
    }

    #parfume {
        position: absolute;
        width: 350px;
        height: 350px;
        top: 10px;
        background-image: url(showcase_image/molecule.png);
        z-index: 4;
        left: -60vw;
    }

    #parfume1 {
        position: absolute;
        width: 300px;
        height: 300px;
        background-image: url(showcase_image/parfume3.png);
        z-index: 4;
        left: -60vw;
    }

    .move {
        animation-name: move_kf;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: both;
    }

    @keyframes move_kf {
        0% {
            /*        left: -25vw; */
        }

        100% {
            left: 100vw;
        }
    }
}

* {
    box-sizing: border-box;
    font-size: 62.5%;


}

.container_press {
    position: relative;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(16, 13vw);
    grid-gap: 8px;
    position: absolute
}

/*
.container {
    width: 80%;
    margin: 2rem auto;
}
*/


.gallery_img {
    opacity: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s linear 0s;
    backface-visibility: hidden;
    /*    display: block;*/
}





/*
.gallery_item--1:hover .text {
    opacity: 1;
}
*/



.gallery_img:hover {
    filter: blur(10px);
    /*    display: block;*/
}

.gallery_item--3:hover .info_magasin {
    opacity: 1;
    /*    display: block;*/
}




.gallery_item--1 {



    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery_item--2 {

    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
}

.gallery_item--3 {
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 6;
}

.gallery_item--4 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery_item--5 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 9;
}

.gallery_item--5 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 9;
}

.gallery_item--6 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 9;
}

.gallery_item--7 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 6;
    grid-row-end: 9;
}

.gallery_item--8 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 9;
    grid-row-end: 11;
}

.gallery_item--9 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 11;
    grid-row-end: 13;
}

.gallery_item--10 {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 9;
    grid-row-end: 13;
}

.gallery_item--11 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 9;
    grid-row-end: 11;
}

.gallery_item--12 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 11;
    grid-row-end: 13;
}

.gallery_item--13 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 13;
    grid-row-end: 17;
}

.gallery_item--14 {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 13;
    grid-row-end: 15;
}

.gallery_item--15 {
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 13;
    grid-row-end: 15;
}

.gallery_item--16 {
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 15;
    grid-row-end: 19;
}

.gallery_item--17 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 17;
    grid-row-end: 22;
}

.gallery_item--18 {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 19;
    grid-row-end: 21;
}

.gallery_item--19 {
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 19;
    grid-row-end: 21;
}

.gallery_item--20 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 22;
    grid-row-end: 25;
}

.gallery_item--21 {
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 21;
    grid-row-end: 25;
}

.gallery_item--22 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 22;
    grid-row-end: 23;
}

.gallery_item--23 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 23;
    grid-row-end: 25;
}

.gallery_item--24 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 25;
    grid-row-end: 29;
}

.gallery_item--25 {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 25;
    grid-row-end: 27;
}

.gallery_item--26 {
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 25;
    grid-row-end: 27;
}

.gallery_item--27 {
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 27;
    grid-row-end: 29;
}

.gallery_item--28 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 29;
    grid-row-end: 31;
}

.gallery_item--29 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 29;
    grid-row-end: 30;
}

.gallery_item--30 {
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 29;
    grid-row-end: 31;
}

.gallery_item--31 {
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 31;
    grid-row-end: 32;
}

.gallery_item--32 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 31;
    grid-row-end: 33;
}

.gallery_item--33 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 30;
    grid-row-end: 30;
}

.gallery_item--34 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 30;
    grid-row-end: 30;
}

.gallery_item--35 {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 32;
    grid-row-end: 33;
}

.gallery_item--36 {
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 32;
    grid-row-end: 33;
}

.gallery_item--37 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 33;
    grid-row-end: 35;
}

.gallery_item--38 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 33;
    grid-row-end: 35;
}

.gallery_item--39 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 33;
    grid-row-end: 35;
}

.gallery_item--40 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 35;
    grid-row-end: 39;
}

.gallery_item--41 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 35;
    grid-row-end: 37;
}

.gallery_item--42 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 37;
    grid-row-end: 40;
}

.gallery_item--43 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 39;
    grid-row-end: 42;
}

.gallery_item--44 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 39;
    grid-row-end: 42;
}

.gallery_item--45 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 40;
    grid-row-end: 42;
}

.gallery_item--46 {
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 42;
    grid-row-end: 45;
}

.gallery_item--47 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 42;
    grid-row-end: 43;
}

.gallery_item--48 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 43;
    grid-row-end: 45;
}

.gallery_item--49 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 45;
    grid-row-end: 46;
}

.gallery_item--50 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 45;
    grid-row-end: 46;
}

.gallery_item--51 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 45;
    grid-row-end: 46;
}
