html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 56.25vw;
    position: absolute;
}

#screen {
    width: 100vw;
    height: 56.25vw;
    position: absolute;
}

img {
    100%;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 25.6px;
    text-transform: uppercase;
    text-align: center;
    color: #525252;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 19.2px;
    text-transform: uppercase;
    color: #525252;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 12.8px;
    text-transform: uppercase;
    color: #525252;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-transform: none;
    color: #525252;
}

li {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-transform: none;
    color: #525252;
}

a {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #5c5c5c;
}

a:hover {
    color: black;
}

.hidden {
    /*    display: none;*/
    /*    transform: scale(0);*/
    transform: translateX(-100%);
    opacity: 0;

}

.hidden_menu {
    visibility: hidden;
}

#menuknap {
    display: inline-block;
    cursor: pointer;
<<<<<<< HEAD
    font-size: 2rem;
=======
    font-size: 3rem;
>>>>>>> origin/master
}

#menu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top left;
}

@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }


    #menu li {
        display: inline-block;
    }
}

#side_menu header {
    position: absolute;
    top: 35px;
    left: 300px;

}

/* visited link */
#side_menu header nav a:visited {
    color: #ce9865;
}

/* mouse over link */
#side_menu header nav a:hover {
    color: #070505;
}

/* selected link */
#side_menu header nav a:active {
    color: #d09864;
}

#side_menu header {
    position: absolute;
}

#side_menu header nav {
    display: flex;
    align-items: flex-end;
    margin: 1rem 1.5rem;
    justify-content: center;
}

#side_menu header nav a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 1.1rem;
    margin: 0 0.2rem;
    padding: 0 1rem 0 0;
    border-right: 1px solid black;
}

#side_menu header nav a:last-child {
    border-right: none;
    padding: 0;
}


#side_menu #menuknap {
    position: absolute;
    left: 75vw;
    top: 0vw;
}

#about {
    margin: 0vw 12vw;
}


#about #story_wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#about #text {
    flex-grow: 2;
    flex-basis: 200px;
    padding: 2vw;
    text-align: center;
    line-height: 26px;
}

#about #picture {
    flex-grow: 1;
    flex-basis: 200px;
    padding: 8vw 2vw 2vw 4vw;

}

#about #portrait {
    background-image: url(about_img/Zarko_portrait3.png);
    background-size: 100%;
    height: 510px;
    width: 340px;
    border-radius: 1%;
}

#about #video_container {
    text-align: center;
}

#about #zarkovideo {
    outline: none;
    width: 800px;
    height: 450px;
    margin: 3vw 0vw 0vw 0vw;
}

#about #signature {
    text-align: center;
}



#showcase img {
    width: 100%;
}

#showcase .col1 {
    margin: 3px;
}

#showcase img {
    width: 100%;
}


#splash {
    width: 100vw;
    height: 100vh;
    max-width: none;
    background-image: url(showcase_image/splash_ny.png);
    background-size: cover;
    background-position: 50% 0%;
}

#box {
    height: 30vw;
    width: 30vw;
    background-color: rgba(255, 255, 255, 0.25);
    justify-content: center;
    top: 23vw;
    left: 34.5vw;
    position: relative;
    z-index: 3;
    border: solid #ba8548 2px;
    overflow: hidden;

}


#showcase .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
}

#cols {
    display: flex;
    flex-wrap: wrap;
}

.colaward {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    flex-basis: 200px;
    width: 30vw;
}

#showcase .col {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    flex-basis: 500px;
    width: 40vw;
}

#gazelle {
    background-image: url(showcase_image/gazelle.png);
    background-size: 100%;
    width: 25vw;
    height: 14vw;
    left: 29vw;
    top: 20vw;
    margin: 10px;
}

#beauty {
    background-image: url(showcase_image/beaty.png);
    background-size: 100%;
    width: 25vw;
    height: 14vw;
    left: 29vw;
    top: 20vw;
    margin: 10px;
}

#show {
    background-image: url(showcase_image/zarko.png);
    background-size: 100%;
    width: 25vw;
    height: 14vw;
    left: 70vw;
}




#showcase .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
}

#cols {
    display: flex;
    flex-wrap: wrap;
}

.colaward {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    flex-basis: 200px;
    width: 30vw;
}

#showcase .col {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    flex-basis: 500px;
    width: 40vw;
}

#gazelle {
    background-image: url(showcase_image/gazelle.png);
    background-size: 100%;
    width: 25vw;
    height: 14vw;
    left: 29vw;
    top: 20vw;
    margin: 10px;
}

#beauty {
    background-image: url(showcase_image/beaty.png);
    background-size: 100%;
    width: 25vw;
    height: 14vw;
    left: 29vw;
    top: 20vw;
    margin: 10px;
}

#show {
    background-image: url(showcase_image/zarko.png);
    background-size: 100%;
    width: 25vw;
    height: 14vw;
    left: 70vw;
    top: 20vw;
    margin: 10px;
}

#col1 {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 2;
    flex-basis: 300px;
    flex-direction: column;
}


#col1 {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 2;
    flex-basis: 300px;
    flex-direction: column;
}

header nav a:link {
    color: #ce9865;
}

/* visited link */
#splash_menu header nav a:visited {
    color: #ce9865;
}

/* mouse over link */
#splash_menu header nav a:hover {
    color: #070505;
}

/* selected link */
#splash_menu header nav a:active {
    color: #d09864;
}

#splash_menu header {
    position: absolute;
    width: 100%;
}

#splash_menu header nav {
    display: flex;
    align-items: flex-end;
    /*margin: 1rem 1.5rem;*/
    justify-content: center;
    flex-direction: row;
    margin-top: 14rem;
}

#splash_menu header nav a {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    margin: 0 0.2rem;
    padding: 0 1rem 0 0;
    border-right: 0.1rem solid white;
    text-decoration: none;
}

#splash_menu header nav a:last-child {
    border-right: none;
    padding: 0;
}

#splash_menu #menuknap {
    position: absolute;
    left: 75vw;
    top: 0vw;
}

#showcase .bottom {
    display: flex;
    flex-wrap: wrap;
}

#showcase .top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}


.bottom_footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e2d5c7;
    color: white;
}

#image_facebook {
    position: relative;
    background-size: 100%;
<<<<<<< HEAD
    /*left: 1vw;
    top: 3vw;*/
=======
    left: 45vw;
    top: 1vw;
>>>>>>> origin/master
}

#image_insta {
    position: relative;
    background-size: 100%;
<<<<<<< HEAD
    /*left: 1vw;
    top: 3vw;*/
}
=======
    left: 50vw;
    top: -3.8vw;
>>>>>>> origin/master

#social {
    display: flex;
    justify-content: center;
}

.bottom_footer p {
    text-align: center;
}


.image_hidden {
    visibility: hidden;
}

#contact {
    margin: 0vw 12vw;
}

#contact #sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#contact #text1 {
    flex-grow: 2;
    flex-basis: 200px;
    padding: 2vw;
    text-align: center;
}

#contact #text2 {
    flex-grow: 2;
    flex-basis: 200px;
    padding: 2vw;
    text-align: center;
}

#contact #text3 {
    flex-grow: 2;
    flex-basis: 200px;
    padding: 2vw;
    text-align: center;
}

.dropbtn {
    border-radius: 10px;
    background-color: rgba(219, 199, 180, 0.17);
    color: #777777;
    padding: 10px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: rgba(230, 191, 154, 0.17);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 4px 4px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

#work {
    background-image: url(showcase_image/work.jpg);
    background-size: 100%;
    width: 25vw;
    height: 14vw;
    left: 10vw;
    top: 20vw;
    margin: 10px;
}

#showcase .bottom {
    display: flex;
    flex-wrap: wrap;
}

#showcase .top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.image_hidden {
    visibility: hidden;
}

#bluecloud_container {
    position: absolute;
    width: 24vw;
    height: 21vw;
    background-image: url(showcase_image/parfume2.png);
    z-index: 4;
    left: -25vw;
}

#parfume {
    position: absolute;
    width: 350px;
    height: 350px;
    background-image: url(showcase_image/molecule.png);
    background-size: 100%;
    z-index: 4;
    left: -25vw;
    top: 13vw;
    background-size: 100%;
}

#parfume1 {
    position: absolute;
    width: 24vw;
    height: 21vw;
    background-image: url(showcase_image/parfume3.png);
    z-index: 4;
    left: -25vw;
}


.move {
    animation-name: move_kf;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

@keyframes move_kf {
    0% {
        /*        left: -25vw;*/
        top: 7vw;
    }

    100% {
        left: 30vw;
        top: 7vw;
    }
}

#products .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;

}

#products .col {
    flex-grow: 1;
    flex-basis: 300px;
    display: flex;
    flex-direction: column;
}

#products img {
    max-height: 300px;
    max-width: 300px;

}

#products img {
    max-height: 250px;
    max-width: 250px;
    margin: 10px;
    padding: 15px;
    cursor: pointer;
}

#products img:hover {
    opacity: 0.6;
}

#products_menu header {
    position: relative;
    top: 6vw;
    left: 30vw;

}

#info_skaerm1 {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-image: url(info_bokse/pink.svg);
    height: 30vw;
    width: 28vw;
    background-color: white;
}

#kryds1 {
    position: absolute;
    z-index: 2;
    background-image: url(info_bokse/luk_info.svg);
    height: 2vw;
    width: 2vw;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    #side_menu header {
        left: 250px;
    }
}

@media only screen and (max-width: 1100px) {
    #side_menu header {
        left: 200px;
    }
}

@media only screen and (max-width: 900px) {
    #side_menu header {
        left: 100px;
    }

    #side_menu header nav a {
        font-size: 0.9rem;
    }

    #about #zarkovideo {
        width: 600px;
        height: 340px;
        text-align: center;
    }
}


@media only screen and (max-width: 700px) {
    #side_menu header {
        left: 60px;
    }

    #side_menu header nav a {
        font-size: 0.9rem;
    }

    #splash_menu header nav {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 1rem 1.5rem;
    }

    #splash_menu header nav a {
        font-size: 1.2rem;
        font-family: 'Montserrat', sans-serif;
        margin: 0.1rem 0;
        padding: 0.1rem 0;
        text-decoration: none;
    }


    #about #text {
        padding:
            4vw;
    }

    #about #picture {
        padding: 1vw;
        position: relative;
        left: 15vw;
    }

    #about {
        margin: 1vw;
    }

    #about #zarkovideo {
        width: 440px;
        height: 250px;
        text-align: center;
    }

    #about #video_container {
        margin: 0;
    }

    #about p {
        font-size: 14px;
    }

    #box {
        height: 350px;
        width: 350px;
        background-color: rgba(255, 255, 255, 0.25);
        justify-content: center;
        top: 280px;
        left: 70px;
        position: relative;
        z-index: 3;
        border: solid #ba8548 2px;
        overflow: hidden;

    }

    #bluecloud_container {
        position: absolute;
        width: 300px;
        height: 300px;
        top: 40px;
        background-image: url(showcase_image/parfume2.png);
        z-index: 4;
        left: -60vw;
    }

    #parfume {
        position: absolute;
        width: 350px;
        height: 350px;
        top: 10px;
        background-image: url(showcase_image/molecule.png);
        z-index: 4;
        left: -60vw;
    }

    .move {
        animation-name: move_kf;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: both;
    }

    @keyframes move_kf {
        0% {
            /*        left: -25vw;*/
        }

        100% {
            left: 100vw;
        }
    }
}
